@import "../../../Global.scss";

@import "../../home/style/home.scss";

.middle-screen{
    height: 60vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-background-about{
    background-image: url("../../home/style/photos/chat-pic-5-bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
  
    width: 100%;
    height: auto;
  
    // parallax scrolling
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 
body {
    font-size: 16px;
    
    @media screen and (max-width: $mobile) {
        font-size: 14px;
        // .about-me-ul,
        // .about-me-li{
        //     width: 50%;
        //     height: auto;

        //     // font-size: smaller;
        // }

        // footer for the about
        .footer-about{
            margin-top: 60px;
        }
        
        // about the project card
        .card
        {
            width: 100%;
            height: auto;

            margin-top: 70px;
            // margin-bottom: -40px;
        }
    }
    
    @media screen and (min-width: $tablet) {
      font-size: 18px;

    //   .main-background-about{
    //     padding-bottom: 100%;
    //   }

    //   .about-project-description,
    //   .footer-about{
    //     font-size: xx-large;
    //     width: 100%;
    //     height: auto;
    //   }

    //   .about-project-header,
    //   .about-project-description,
    //   .contact-email-link{
    //     font-size: 55px;
    //   }

    //   .footer-about{
    //     font-size: 60px;
    //     height: auto;
    //   }
        
    }
    
    @media screen and (min-width: $desktop) {
      font-size: 20px;
    }
  }