@import "../../../Global.scss";

#title-main-header:hover {
    background-color: black;
    color: white;
}

#title-main-header,
#title-main-header-wrapper{
    width: 100%;
    height: auto;
    font-size: 35px;
    text-align: center;
}

// real time messaging
.real-time-msg{
  // top down left right
  @include margin(10px, 10px, auto, 700px);
}

// user friendly
.user-friendly{
  // top down left right
  @include margin(10px, 10px, 700px, auto);
}

// privacy and security
.private-secure {
  // top down left right
  @include margin(10px, 10px, auto, 700px);
}

// cross platform
.cross-platform{
  // top down left right
  @include margin(10px, 10px, 700px, auto);
}

// .real-time-msg,
// .user-friendly,
// .private-secure,
// .cross-platform{
// }

// message cards describing oraclechat project
.main-important-parts-wrapper{
    width: 100%;
    height: auto;
}

// speaks for itself
.main-background{
  background-image: url("./photos/chat-pic-1-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  height: auto;

  // parallax scrolling
  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




// Apply styles for different screen sizes
body {
  font-size: 16px;
  
  @media screen and (max-width: $mobile) {
    font-size: 14px;

    // background colors
    .user-friendly-wrapper{
        background-size: cover;
    }

    .real-time-msg,
    .user-friendly,
    .private-secure,
    .cross-platform{
      @include margin(25px, auto, auto, 10px)
    }

    #title-main-header-wrapper{
        width: 100%;
        height: auto;
    }

  }
  
  @media screen and (min-width: $tablet) {
    font-size: 18px;

    .real-time-msg {
        width: auto;
        height: auto;
    }
    
  }
  
  @media screen and (min-width: $desktop) {
    font-size: 20px;
  }
}
